@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    background-image: url(../assets/img/fundoCadastrologin.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #5ac69c;
}

a:hover {
    text-decoration: underline;
}

input::-webkit-inner-spin-button {
    appearance: none;
}

.cadastro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideLeft 1.4s ease;
}

.cadastro .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.cadastro .logo .img-logo {
    width: 320px;
    pointer-events: none;
}

.cadastro .logo .div-slogan {
    text-align: center;
}

.cadastro .logo .div-slogan .slogan {
    font-size: 28px;
    text-align: center
}

.cadastro .logo .div-slogan .slogan-bold {
    color: #5ac69c;
    font-weight: bold
}

.texto-conta {
    margin-top: 50px;
}


.cadastro .form-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    height: 100%;
}

.cadastro .form {
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 520px;
    height: 640px;
}

.cadastro .form-cadastro h1 {
    font-size: 40px;
    margin-top: 8px;
}

.cadastro .form-cadastro .box-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-input-cep {
    display: flex;
}

.container-input-cep input {
    width: 150px !important;
}

.container-input-cep .container-input:nth-child(1) {
    margin-right: 16px;
}

.cadastro .form-cadastro .box-input label {
    font-size: 19px;
    align-self: flex-start;
    margin: 8px 12px;
}

.cadastro .form-cadastro .box-input input {
    font-size: 15px;
    border-radius: 10px;
    border: none;
    border-left: 7px solid #5ac69c;
    padding: 12px 10px 12px 10px;
    width: 320px;
    transition: all .3s ease-in-out;
}

.cadastro .form-cadastro .box-input input.error {
    border-left: 7px solid #e53c3c;
}

.cadastro .form-cadastro .box-input input.error:focus {
    border-left: 10px solid #e53c3c !important;
}

#inputSenha,
#inputConfirmarSenha {
    padding: 12px 46px 12px 10px;
}

input:focus {
    outline: none;
    border-left: 10px solid #5ac69c !important;
}

.eye-icon {
    width: 24px;
    position: absolute;
    top: 47px;
    right: 14px;
    cursor: pointer;
}

.cadastro .form-cadastro .button-cadastrar {
    border: 1px solid #5ac69c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 320px;
    padding: 12px 32px;
    margin: 16px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.cadastro .form-cadastro .button-cadastrar:hover {
    background-color: #5ac69c;
}

.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    padding: 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.home-button img {
    width: 100%;
}

.home-button:hover {
    background-color: #5ac69c;
    border: 2px solid transparent;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000005a;
    transition: all .4s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.modal-background.active {
    opacity: 1;
    z-index: 8;
}

.modal-sucesso {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 280px;
    border-radius: 25px;
    background-color: rgba(40, 40, 40, 0.84);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal-sucesso.active,
.modal-erro.active {
    opacity: 1;
    z-index: 9;
    transform: translate(-50%, -50%) scale(1);
}

.modal-sucesso .line-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-sucesso .line-1 img,
.modal-erro .line-1 img {
    width: 110px;
    pointer-events: none;
}

.modal-sucesso .line-2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-sucesso .line-2 h3 {
    color: #5ac69c;
    margin-top: -8px;
    margin-bottom: 28px;
}

.modal-sucesso .line-2 p {
    margin-bottom: 4px;
}

.modal-erro {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 360px;
    border-radius: 25px;
    background-color: rgba(40, 40, 40, 0.84);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal-erro .line-1 {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-erro .line-2 {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-erro .line-2 h3 {
    color: #e53c3c;
    margin-top: -8px;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.modal-erro .line-2 p {
    margin-bottom: 4px;
    text-align: center;
}

.modal-erro .line-3 {
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-erro .btn-tentar-novamente {
    padding: 12px 16px;
    background-color: transparent;
    color: #e53c3c;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition: all .3s ease-in-out;
    border: 1px solid #e53c3c;
    cursor: pointer;
}

.modal-erro .btn-tentar-novamente:hover {
    border: 1px solid transparent;
    background-color: #e53c3c;
    color: #ffffff;
}

#contagemRegressiva {
    color: #5ac69c;
}

@media screen and (min-width: 412px) and (max-width:914px) {

    body {
        background-image: url(../assets/img/fundoCadastrologin.png);
    }

    .cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .cadastro .logo .img-logo {
        width: 200px;
    }

    .img-logo {
        width: 40px;
    }

    .slogan .slogan-bold {
        font-size: 20px;
        margin-top: 5px;
    }
    

    .texto-conta {
        display: none;
    }

    .box-input {
        display: none;
    }

    #inputNomeEmpresa,
    #inputCnpj,
    #inputEmail,
    #inputSenha,
    #inputConfirmarSenha {
        width: 190px;
    }

    /* #submitBtn {
        margin-top: 15%;
        width: 100px;
        background-color: red;
    } */

    /* .login .form .form-box .button-entrar{
        margin-top:15px;
        width: 100px;
    }  */
}