@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    overflow: hidden;
}

img {
    pointer-events: none;
}

button {
    all: unset;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 5%;
    background-color: #000000;
    color: #ffffff;
    transition: all .4s ease-in-out;
    overflow-x: hidden;
}

.sidebar.active {
    width: 14%;
}

.sidebar .icons-col-1 {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

.sidebar .icons-col-1 div {
    width: 160px;
    margin-left: 24px;
}

.sidebar .icons-col-1 img {
    height: 32px;
}

.sidebar .icons-col-2 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar .icons-col-2 svg,
.sidebar .icons-col-3 svg {
    height: 26px;
}

.sidebar .icons-col-2 button,
.sidebar .icons-col-3 button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
    width: 160px;
    transition: all .9s ease-in-out;
}

.sidebar .icons-col-2 button svg g path,
.sidebar .icons-col-3 button svg g path {
    transition: all .3s ease-in-out;
}

.sidebar .icons-col-2 button:hover svg g path,
.sidebar .icons-col-3 button:hover svg g path {
    fill: #92e4c4;
}

.sidebar .icons-col-3 button:nth-child(2):hover svg g path {
    fill: #ff6b6b;
}

.sidebar .icons-col-3 {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar .icon-description {
    font-size: 12px;
    margin-left: 12px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.sidebar button:hover .icon-description {
    color: #92e4c4;
}

.sidebar .icons-col-3 button:nth-child(2):hover .icon-description {
    color: #ff6b6b;
}

.sidebar.active .icon-description {
    opacity: 1;
}

.content {
    height: 100%;
    width: 95%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

nav {
    width: 100%;
    height: 8%;
    background-color: #000000;
    display: flex;
}

nav .line-1 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .line-1 img {
    height: 42px;
    margin-left: 12px;
}

nav .line-1 span {
    color: #ffffff;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 6px;
}

nav .line-2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .line-2 .input-ct input {
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 6px 0px 6px 44px;
    width: 300px;
}

nav .line-2 .input-ct input:focus {
    outline: none;
}

nav .line-2 .input-ct input::placeholder {
    color: #ffffff;
}

nav .line-2 .input-ct .search-icon {
    position: absolute;
    left: 12px;
    top: 8px;
    height: 14px;
}

nav .line-3 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .line-3 .user-ct {
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav .line-3 .user-ct img {
    height: 22px;
}

nav .line-3 .user-ct .user-text {
    margin-left: 12px;
}

main {
    height: 92%;
    width: 100%;
    padding: 20px 50px 10px 50px;
}

main h2 {
    text-align: center;
    text-transform: uppercase;
}

main .company-name-ct {
    width: 100%;
    height: 6%;
}

main .kpi-ct {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .kpi-ct .kpi {
    padding: 0 100px;
    height: 60px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .kpi-ct .kpi span {
    font-weight: 600;
}

main .chart-ct {
    width: 100%;
    height: 74%;
}

main .chart-ct .line-1,
main .chart-ct .line-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

main .chart-ct .chart {
    width: 570px;
    height: 210px;
    border-radius: 50px;
    background-color: #000000;
}

main .chart h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
    font-size: 18px;
    text-transform: uppercase;
}