@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

tbody::-webkit-scrollbar {
    width: 5px;
}

tbody::-webkit-scrollbar-track {
    background: #ffffff;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
}

input::-webkit-inner-spin-button {
    appearance: none;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    overflow: hidden;
}

#mainContentLoading {
    background-color: #1E1E20;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#mainContentNoLoading {
    width: 100%;
    height: 100%;
    display: flex;
    user-select: none;
    overflow: hidden;
}

img {
    pointer-events: none;
}

button {
    all: unset;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #000000;
    display: flex;
    position: fixed;
}

nav .line-1 {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    margin-left: 20px;
}

nav .line-1.active {
    margin-right: 140px;
}

nav .line-1 img {
    height: 32px;
}

nav .line-2 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .line-2 img {
    height: 42px;
    margin-left: 12px;
}

nav .line-2 span {
    color: #ffffff;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 6px;
}

nav .line-3 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .line-3 #btnPesquisarMaquina {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 24px 10px 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

nav .line-3 #btnPesquisarMaquina:hover {
    border: 1px solid transparent;
    background-color: #5ac69c;
}

nav .line-3 #btnPesquisarMaquina .eye-icon-maquina {
    height: 20px;
    margin-right: 10px;
}

nav .line-4 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav .line-4.admin {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

nav .line-4 .btn-support {
    margin-right: 24px;
    margin-top: 4px;
}

nav .line-4 .btn-support svg {
    width: 28px;
}

nav .line-4 .user-ct {
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav .line-4 .user-ct .user-icon {
    height: 20px;
}

nav .line-4 .user-ct .down-arrow-icon {
    height: 14px;
    margin-left: 12px;
    margin-top: 2px;
    transition: all .2s ease-in-out;
}

nav .line-4 .user-ct .down-arrow-icon.active,
.chart .arrow-down-btn.active img {
    transform: rotate(180deg);
}

nav .line-4 .user-ct .nome-usuario {
    margin-left: 12px;
    color: #92e4c4;
}

nav .line-4 .drop-down-menu {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 290px;
    height: 80px;
    background-color: #000000;
    position: absolute;
    top: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    transition: all .4s ease-in-out;
}

nav .line-4 .drop-down-menu.active {
    display: flex;
}

nav .line-4 .drop-down-menu .btn-settings {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 16px;
    border: 1px solid #ffffff;
    border-radius: 24px;
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    transition: all .4s ease-in-out;
}

nav .line-4 .drop-down-menu .btn-settings:hover {
    border: 1px solid transparent;
    background-color: #5ac69c;
}

nav .line-4 .drop-down-menu .btn-logout {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 24px;
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    transition: all .4s ease-in-out;
    background-color: transparent;
}

nav .line-4 .drop-down-menu .btn-logout:hover {
    border: 1px solid transparent;
    background-color: #9f1919;
}

nav .line-4 .drop-down-menu .btn-settings img,
nav .line-4 .drop-down-menu .btn-logout img {
    width: 18px;
    margin-right: 8px;
}

.sidebar {
    height: 100%;
    width: 80px;
    background-color: #000000;
    color: #ffffff;
    transition: all .4s ease-in-out;
    overflow-x: hidden;
}

.sidebar.active {
    width: 240px;
}

.sidebar .icons-col-1 {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

.sidebar .icons-col-2 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar .icons-col-2 svg,
.sidebar .icons-col-3 svg {
    height: 26px;
}

.sidebar .icons-col-2 button,
.sidebar .icons-col-3 button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
    width: 160px;
    transition: all .9s ease-in-out;
}

.sidebar .icons-col-2 button svg g path,
.sidebar .icons-col-3 button svg g path,
nav .line-4 .btn-support svg g path {
    transition: all .3s ease-in-out;
}

.sidebar .icons-col-2 button:hover svg g path,
.sidebar .icons-col-3 button:hover svg g path,
nav .line-4 .btn-support:hover svg g path {
    fill: #92e4c4;
}

.sidebar .icons-col-3 button {
    margin-bottom: 24px;
}

.sidebar .icons-col-3 {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar .icons-col-3.admin {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar .icons-col-3 .btn-logout {
    display: none;
}

.sidebar .icons-col-3.admin .btn-logout {
    display: flex;
}

.sidebar .icon-description {
    font-size: 12px;
    margin-left: 12px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.sidebar button:hover .icon-description {
    color: #92e4c4;
}

.sidebar .icons-col-3 .btn-logout:hover svg g path {
    fill: #c72727;
}

.sidebar .icons-col-3 .btn-logout:hover .icon-description {
    color: #c72727;
}

.sidebar.active .icon-description {
    opacity: 1;
}

.content {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
    margin-top: 60px;
}

main {
    height: 92%;
    width: 100%;
    padding: 20px 50px 10px 50px;
}

main h2 {
    text-align: center;
    text-transform: uppercase;
}

main .company-name-ct {
    width: 100%;
    height: 4%;
}

main .kpi-ct {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .kpi-ct .kpi {
    padding: 0 100px;
    height: 72px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

main .kpi-ct .kpi div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .kpi-ct .kpi h4 {
    margin-bottom: 8px;
}

main .kpi-ct .kpi .descricao-kpi {
    position: absolute;
    bottom: -32px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 8px;
    width: 280px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
}

main .kpi-ct .kpi .descricao-kpi.active {
    visibility: visible;
    opacity: 1;
}

main .kpi-ct .kpi .descricao-kpi span {
    font-size: 12px;
    color: #ffffff;
}

main .kpi-ct .kpi svg {
    height: 20px;
    margin-right: 8px;
}

main .kpi-ct .kpi span {
    font-weight: 600;
}

main .chart-ct {
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chartsAdmin .chart-ct {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .chart-ct .line-1 {
    margin-bottom: 12px;
}

main .chart-ct .line-1,
main .chart-ct .line-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

main .chart-ct .column-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .chart-ct .column-2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main .line-1 .chart,
main .line-2 .chart {
    width: 570px;
    height: 224px;
    border-radius: 50px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main .column-1 .chart {
    width: 600px;
    height: 424px;
    border-radius: 50px;
    background-color: #000000;
}

main .column-2 .chart:nth-child(1) {
    width: 600px;
    height: 250px;
    border-radius: 50px;
    background-color: #000000;
}

main .column-2 .chart:nth-child(2) {
    width: 600px;
    height: 150px;
    border-radius: 50px;
    background-color: #000000;
}

main .chart h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
    font-size: 18px;
    text-transform: uppercase;
}

#chartsGerenteFuncionario,
#chartsAdmin {
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

#chartsAdmin {
    display: flex;
    align-items: center;
}

#chartsGerenteFuncionario.active,
#chartsAdmin.active {
    opacity: 1;
    visibility: visible;
}

.chart .arrow-down-btn {
    position: absolute;
    bottom: 6px;
    right: 24px;
}

.chart .arrow-down-btn img {
    width: 20px;
    transition: all .2s ease;
}

.chart-list-ct {
    position: absolute;
    right: -76px;
    bottom: 36px;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 24px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    z-index: 3;
}

.chart-list-ct.active {
    display: flex;
}

.chart-list-ct button {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    padding: 4px;
    margin: 2px 0;
    transition: all .4s ease-in-out;
    border-radius: 8px;
}

.chart-list-ct button:hover {
    background-color: #5ac69c;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005a;
    transition: all .4s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.modal-background.active {
    opacity: 1;
    z-index: 2;
}

.modal-logout-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005a;
    transition: all .4s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.modal-logout-background.active {
    opacity: 1;
    z-index: 7;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 550px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal-logout {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 250px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal.active,
.modal-logout.active {
    opacity: 1;
    transform: scale(1);
    z-index: 8;
    transform: translate(-50%, -50%) scale(1);
}

.modal .line-1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-logout .line-1 {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .line-1 h4 {
    margin-left: 24px;
    margin-top: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.modal-logout .line-1 h4 {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.modal .line-1 button {
    width: 24px;
    margin-right: 22px;
    margin-top: 16px;
}

.modal .line-1 button svg g path {
    transition: all .3s ease-in-out;
}

.modal .line-1 button:hover svg g path {
    fill: #c72727;
}

.modal .line-2 {
    width: 100%;
    height: 78%;
}

.modal .line-2 .menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    height: 12%;
}

.modal .line-2 .menu button {
    height: 24px;
    padding: 12px 16px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
}

.modal .line-2 .menu button.active,
.modal .line-2 .menu button:hover {
    background-color: #5ac69c;
}

.modal .line-2 .menu button img {
    height: 24px;
}

.modal .line-2 .menu button:nth-child(2) img {
    height: 21px;
}

.modal .line-2 .menu button span {
    margin-left: 8px;
    font-size: 12px;
}

.novo-usuario-ct {
    margin-top: 30px;
}

.novo-usuario-ct,
.nova-maquina-ct,
.visualizar-usuario-ct,
.visualizar-maquina-ct {
    height: 88%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.novo-usuario-ct label,
.nova-maquina-ct label {
    width: 400px;
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 600;
}

.novo-usuario-ct input,
.nova-maquina-ct input {
    margin-top: 6px;
    width: 400px;
    padding: 6px 6px 6px 12px;
    border: none;
    border-bottom: 1px solid #000000;
    transition: all .4s ease-in-out;
}

.novo-usuario-ct input.error,
.nova-maquina-ct input.error {
    border-bottom: 1px solid #c72727;
}

.novo-usuario-ct input:focus,
.nova-maquina-ct input:focus {
    outline: none;
}

#inputSenhaUsuario,
#inputConfirmarSenhaUsuario {
    padding: 6px 40px 6px 12px;
}

.novo-usuario-ct .eye-icon {
    width: 22px;
    position: absolute;
    top: 40px;
    right: 18px;
    cursor: pointer;
    pointer-events: all;
}

.novo-usuario-ct.active,
.nova-maquina-ct.active,
.visualizar-usuario-ct.active,
.visualizar-maquina-ct.active {
    display: flex;
}

.visualizar-usuario-ct.active,
.visualizar-maquina-ct.active {
    height: 100% !important;
}

.visualizar-usuario-ct.active .line-3,
.visualizar-maquina-ct.active .line-3 {
    display: none;
}

.visualizar-usuario-ct .input-ct,
.visualizar-maquina-ct .input-ct {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    margin: 14px 0;
}

.visualizar-usuario-ct .input-ct svg,
.visualizar-maquina-ct .input-ct svg {
    height: 14px;
    position: absolute;
    left: 10px;
    top: 7px;
}

.visualizar-usuario-ct .input-ct input,
.visualizar-maquina-ct .input-ct input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 7px 0px 7px 36px;
    width: 400px;
}

.visualizar-usuario-ct .input-ct input:focus,
.visualizar-maquina-ct .input-ct input:focus {
    outline: none;
}

.visualizar-usuario-ct .tabela-ct,
.visualizar-maquina-ct .tabela-ct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12px;
}

.visualizar-usuario-ct .tabela-ct table,
.visualizar-maquina-ct .tabela-ct table {
    width: 89%;
    height: 324px;
}

.visualizar-usuario-ct .tabela-ct table thead,
.visualizar-usuario-ct .tabela-ct table tr,
.visualizar-maquina-ct .tabela-ct table thead,
.visualizar-maquina-ct .tabela-ct table tr {
    display: flex;
    align-items: center;
    width: 100%;
}

.visualizar-usuario-ct .tabela-ct table thead,
.visualizar-maquina-ct .tabela-ct table thead {
    height: 30px;
}

.visualizar-usuario-ct .tabela-ct table tr,
.visualizar-maquina-ct .tabela-ct table tr {
    height: 40px;
}

.visualizar-usuario-ct .tabela-ct table tbody,
.visualizar-maquina-ct .tabela-ct table tbody {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.visualizar-usuario-ct .tabela-ct table .nome-td,
.visualizar-usuario-ct .tabela-ct table .email-td,
.visualizar-maquina-ct .tabela-ct table .nome-td,
.visualizar-maquina-ct .tabela-ct table .ip-td {
    text-align: left;
}

.visualizar-usuario-ct .tabela-ct table .nome-td {
    width: 150px;
}

.visualizar-usuario-ct .tabela-ct table .email-td {
    width: 270px;
}

.visualizar-maquina-ct .tabela-ct table .nome-td {
    width: 150px;
}

.visualizar-maquina-ct .tabela-ct table .ip-td {
    width: 270px;
}

.visualizar-usuario-ct .icons-ct,
.visualizar-maquina-ct .icons-ct {
    display: flex;
    justify-content: center;
}

#btnEditar img,
#btnExcluir img {
    height: 18px;
}

#btnEditar {
    width: 16px;
    height: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #5ac69c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

#btnEditar:hover {
    background-color: #31b180;
}

#btnExcluir {
    width: 16px;
    height: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #e53c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    transition: all .3s ease-in-out;
}

#btnExcluir:hover {
    background-color: #c72727;
}

.modal-logout .line-2 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .line-3 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: flex-end;
}

.modal-logout .line-3 {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
}

.modal .line-3 .btn-ct {
    margin-right: 16px;
}

.modal .btn-cancelar {
    margin-right: 4px;
}

.modal-logout .btn-cancelar {
    margin-left: 4px;
}

.btn-cancelar {
    padding: 12px 16px;
    background-color: #e53c3c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.modal-logout .btn-cancelar {
    padding: 12px 16px;
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition: all .3s ease-in-out;
    border: 1px solid #000000;
}

.modal-logout .btn-cancelar:hover,
.modal-inicio .btn-cancelar:hover {
    border: 1px solid transparent;
    background-color: #31b180;
    color: #ffffff;
}

.modal-logout .btn-logout {
    padding: 12px 16px;
    background-color: #e53c3c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    margin-left: 8px;
}

.btn-salvar {
    padding: 12px 16px;
    background-color: #5ac69c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.btn-salvar:hover {
    background-color: #31b180;
}

.btn-cancelar:hover,
.modal-logout .btn-logout:hover,
.modal-inicio .btn-logout:hover {
    background-color: #c72727;
}

.modal-inicio {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 730px;
    height: 600px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal-inicio.active {
    z-index: 3;
    opacity: 1;
    animation: slideDown 1.4s ease;
}

@keyframes slideDown {
    0% {
        transform: translateY(-150px) translate(-50%, -50%);
    }

    100% {
        transform: translateY(0) translate(-50%, -50%);
    }
}

.modal-inicio .line-1 {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inicio .line-1 h3 {
    margin-bottom: 8px;
}

.modal-inicio .line-2 {
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inicio .line-1 .nome-usuario {
    color: #5ac69c;
}

.modal-inicio .line-2 .input-ct {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    margin: 14px 0;
}

.modal-inicio .line-2 .input-ct svg {
    height: 14px;
    position: absolute;
    left: 10px;
    top: 7px;
}

.modal-inicio .line-2 .input-ct input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 7px 0px 7px 36px;
    width: 400px;
}

.modal-inicio .line-2 .input-ct input:focus {
    outline: none;
}

.modal-inicio .line-2 .tabela-ct {
    width: 100%;
    height: 100%;
}

.btn-visualizar-maquina-inicio {
    width: 16px;
    height: 20px;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #5ac69c;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.btn-visualizar-maquina-inicio:hover {
    background-color: #31b180;
}

.modal-inicio .line-2 .tabela-ct table {
    width: 89%;
    height: 324px;
}

.modal-inicio .line-2 .tabela-ct table thead,
.modal-inicio .line-2 .tabela-ct table tr {
    display: flex;
    align-items: center;
    width: 100%;
}

.modal-inicio .line-2 .tabela-ct table thead {
    height: 56px;
}

.modal-inicio .line-2 .tabela-ct table tr {
    height: 56px;
}

.modal-inicio .line-2 .tabela-ct table th:nth-child(1) {
    background-color: transparent;
}

.modal-inicio .line-2 .tabela-ct table th {
    background-color: #000000;
    color: #ffffff;
    padding: 16px 8px;
    margin: 0 2px;
}

.modal-inicio .line-2 .tabela-ct table td:nth-child(1) {
    background-color: transparent;
}

.modal-inicio .line-2 .tabela-ct table td {
    background-color: #151010;
    color: #ffffff;
    padding: 16px 8px;
    margin: 0 2px;
}

.modal-inicio .line-2 .tabela-ct table tbody {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-right: 12px;
}

.modal-inicio .line-2 .tabela-ct table .ip-td,
.modal-inicio .line-2 .tabela-ct table .hostname-td,
.modal-inicio .line-2 .tabela-ct table .ram-td,
.modal-inicio .line-2 .tabela-ct table .disco-td,
.modal-inicio .line-2 .tabela-ct table .clock-td,
.modal-inicio .line-2 .tabela-ct table .nucleos-td {
    text-align: center;
    overflow: hidden;
}

.modal-inicio .line-2 .tabela-ct table .ip-td {
    width: 114px;
}

.modal-inicio .line-2 .tabela-ct table .hostname-td {
    width: 114px;
}

.modal-inicio .line-2 .tabela-ct table .ram-td {
    width: 114px;
}

.modal-inicio .line-2 .tabela-ct table .disco-td {
    width: 114px;
}

.modal-inicio .line-2 .tabela-ct table .clock-td {
    width: 114px;
}

.modal-inicio .line-2 .tabela-ct table .nucleos-td {
    width: 114px;
}

.modal-inicio .line-2 .icons-ct {
    display: flex;
    justify-content: center;
    width: 100px;
}

.modal-inicio .line-3 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-inicio .btn-logout {
    padding: 8px 24px;
    background-color: #e53c3c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    margin-right: 40px;
}

.loading-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E1E20;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    z-index: 6;
}

.loading-background.active {
    opacity: 1;
    visibility: visible;
}

.loading-background img {
    height: 140px;
    margin-top: -1px;
}

.spinner,
.loading-background img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade 1s ease-in-out;
}

.circle-border {
    width: 190px;
    height: 190px;
    padding: 6px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 33%, #ffffff 100%);
    animation: spin .8s linear infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: #1E1E20;
    border-radius: 50%;
}

@keyframes fade {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-gerenciar-empresa {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 580px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.modal-gerenciar-empresa.active {
    z-index: 3;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-gerenciar-empresa .line-1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-gerenciar-empresa .line-1 h4 {
    margin-left: 24px;
    margin-top: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.modal-gerenciar-empresa .line-1 button {
    width: 24px;
    margin-right: 22px;
    margin-top: 16px;
}

.modal-gerenciar-empresa .line-1 button svg g path {
    transition: all .3s ease-in-out;
}

.modal-gerenciar-empresa .line-1 button:hover svg g path {
    fill: #c72727;
}

.modal-gerenciar-empresa .line-2 {
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.modal-gerenciar-empresa label {
    width: 400px;
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 600;
}

.modal-gerenciar-empresa input {
    margin-top: 6px;
    width: 400px;
    padding: 6px 6px 6px 12px;
    border: none;
    border-bottom: 1px solid #000000;
    transition: all .4s ease-in-out;
}

.modal-gerenciar-empresa input.error {
    border-bottom: 1px solid #c72727;
}

.modal-gerenciar-empresa input:focus {
    outline: none;
}

.modal-gerenciar-empresa .line-3 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: flex-end;
}

.modal-gerenciar-empresa .line-3 .btn-ct {
    margin-right: 16px;
}

.modal-gerenciar-empresa .btn-cancelar {
    margin-right: 4px;
}

#chartMemoriaRam,
#chartDisco {
    transform: scale(0.8);
    margin-top: -12px;
}

#chartCpu {
    width: 900px;
    transform: scale(0.5);
    margin-top: -90px;
}

#chartDiscoSwap {
    width: 370px !important;
    height: 188px !important;
}

#chartRede1,
#chartRede2 {
    width: 200px;
    height: 200px;
    margin-top: -26px;
    transform: scale(0.9);
}

.line-1 .chart .text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: #ffffff;
}

.line-2 .chart .text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: #ffffff;
}

.tabela-inatividade {
    width: 100%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela-inatividade table {
    border-collapse: separate;
    border-spacing: 6px;
}

.tabela-inatividade .ip-td,
.tabela-inatividade .hostname-td,
.tabela-inatividade .tempo-td {
    background-color: #5ac69c;
    color: #ffffff;
    font-weight: bold;
}

.tabela-inatividade th,
.tabela-inatividade td {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    color: #333;
}

.tabela-inatividade th {
    background-color: #f0f0f0;
    font-weight: normal;
}

.tabela-inatividade thead {
    background-color: #333;
    color: #fff;
}

.tabela-inatividade thead th {
    padding: 5px 15px;
}

.maquina-nome {
    font-weight: bold;
}

#chartInatividade {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#chartInatividade .apexcharts-legend-text {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
}

.column-2 .chart #chartInatividade {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.inventario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.inventario .maquina-01 svg g path,
.inventario .maquina-02 svg g path,
.inventario .maquina-03 svg g path,
.inventario .maquina-04 svg g path{
    fill: #5ac69c;
}