@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #93E4C4;
    border-radius: 30px;
}

header {
    height: 90vh;
    margin-top: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 0 80px;
    background-color: black;
    position: fixed;
    top: 0;
    color: white;
    user-select: none;
}

img {
    pointer-events: none;
}

img,
a {
    user-select: none;
}

a {
    all: unset;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nome {
    font-weight: 600;
    color: white;
    font-size: 17px;
    margin-left: 12px;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    text-decoration: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.navbar ul li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    list-style: none;
}

.acesso {
    display: flex;
    align-items: center;
    gap: 15px;
}

.acesso li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.acesso a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

img {
    width: 50px;
}

/* Fim da Navbar */

.tituloHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    font-size: 40px;
    text-align: left;
}

.descricao {
    margin-top: 20px;
    font-size: 35px;
    width: 550px;
}

.descricao p {
    font-size: 24px;
}

.imgServidores img {
    display: flex;
    margin-left: -50;
    width: 500px;
}

.imgServidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.imgServidores a {
    border-radius: 20px;
    padding: 12px 32px 12px 32px;
    background-color: white;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
    box-shadow: 0 0 1px #000000;
    transition: padding .3s ease-in-out;
}

.imgServidores a:hover {
    padding: 12px 40px 12px 40px;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

/* projeto */


.projetoHome {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 45%;
}

.projetoHome h1 {
    font-size: 40px;
}

.descricaoProjeto {
    margin-top: 20px;
    font-size: 24px;
}


.imgProjeto img {
    display: flex;
    width: 550px;
    border-top-left-radius: 24%;

}

.imgProjeto {
    width: 45%;
    display: flex;
    justify-content: center;
}

.homeProjeto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

/* Sobre nós*/

.tituloSobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.tituloSobre h1 {
    font-size: 40px;
    color: white;
}

.descricaoSobre {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}


.imgConecta {
    width: 45%;
    display: flex;
    justify-content: center;
}

.imgConecta img {
    display: flex;
    margin-left: 100px;
    width: 400px;
    padding-left: 20px;
}

.sobreNosHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #000000, #737373);
}

/* Solução */

.tituloSolucao {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSolucao h1 {
    font-size: 40px;
}

.descricaoSolucao {
    margin-top: 20px;
    font-size: 24px;
}


.imgSolucao {
    width: 45%;
    display: flex;
    justify-content: center;
}

.imgSolucao img {
    display: flex;
    margin-left: 100px;
    width: 550px;
    border-top-left-radius: 24%;
}

.solucaoHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}


/* Equipe*/

.geral {
    width: 100%;
    height: 100%;
    align-items: center;
}

.tituloEquipe h1 {
    font-size: 40px;
}

.tituloEquipe p {
    font-size: 24px;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.line_2 {
    display: flex;
    justify-content: space-evenly;
}

.line_2 .equipeFotos:nth-child(1) {
    margin-left: 8%;
}

.line_2 .equipeFotos:nth-child(2) {
    margin-right: 8%;
}

.box .line_2 img {
    margin: 20px;
}

#equipe {
    padding: 20px 0;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
    padding: 24px 0;
}

.equipeFotos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;
}

#equipe span {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #333;
}

.tituloEquipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
}

/* Contato*/

footer {
    background: linear-gradient(90deg, #000000, #737373);
    padding: 24px 0;
}

footer {
    color: #ffffff;
}

footer span {
    font-size: 16px;
    margin: 4px 0;
}

.footerContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerContato h1 {
    color: #ffffff;
}

.footerContato img {
    width: 180px;
}

.footerHome {
    display: flex;
    justify-content: space-evenly;
}

.coluna1,
.coluna2,
.coluna3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.coluna3 a {
    margin: 2px 0;
}