@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #93E4C4;
    border-radius: 30px;
}

header {
    height: 90vh;
    margin-top: 70px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding-top: 4px;
    background-color: black;
    position: fixed;
    top: 0;
    color: white;
    user-select: none;
    z-index: 4;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    all: unset;
    cursor: pointer;
    user-select: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: -3px;
    width: 25%;
}

.nome {
    font-weight: 600;
    color: white;
    font-size: 17px;
    margin-left: 12px;
}

i#burguer {
    display: none;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 0 30px;
    white-space: nowrap;
}

.acesso .nav-item {
    margin: 0 6px;
}

.navbar ul {
    list-style: none;
    text-decoration: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.navbar ul li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    list-style: none;
}

.bottom-animation::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transform: skew(-50deg);
    transition: width .3s;
    border-radius: 25px;
    margin-top: 2px;
}

.bottom-animation:hover::after {
    width: 100%;
    transition: width .3s;
}

.acesso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 25%;
}

.acesso li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.acesso .barra {
    margin-top: -4px;
}

.acesso a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.acesso-mobile {
    display: none;
}

.logo img,
.down-arrow img {
    width: 50px;
}

/* Fim da Navbar */

.tituloHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    font-size: 40px;
    text-align: left;
}

.descricao {
    margin-top: 20px;
    font-size: 35px;
    width: 550px;
}

.descricao p {
    font-size: 24px;
}

.imgServidores img {
    display: flex;
    width: 550px;
}

.imgServidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.imgServidores a {
    border-radius: 20px;
    padding: 12px 40px 12px 40px;
    background-color: white;
    font-weight: 800;
    margin-top: 24px;
    cursor: pointer;
    box-shadow: 0 0 1px #000000;
    transition: all .5s ease-in-out;
}

.imgServidores a:hover {
    background-color: #000000;
    color: #ffffff;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

.down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    margin: 0 auto;
    width: 50px;
    animation: arrowTransition 2s ease-in-out infinite;
}

@keyframes arrowTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

/* projeto */

#projeto {
    padding: 40px 0;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

.projetoHome {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 45%;
}

.projetoHome h1 {
    font-size: 40px;
}

.descricaoProjeto {
    margin-top: 20px;
    font-size: 20px;
}

.descricaoProjeto p {
    width: 580px;
    text-align: justify;
}


.imgProjeto img {
    display: flex;
    width: 600px;
    border-top-left-radius: 24%;

}

.imgProjeto {
    width: 45%;
    display: flex;
    justify-content: center;
}

.homeProjeto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* Sobre nós*/

#sobreNos {
    padding: 10px 60px;
    background: linear-gradient(90deg, #000000, #737373);
}

.tituloSobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.tituloSobre h1 {
    font-size: 40px;
    color: white;
}

.descricaoSobre {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-align: left;
}

.descricaoSobre p {
    width: 717px;
    text-align: justify;
}


.imgConecta {
    width: 45%;
    display: flex;
    justify-content: center;
}

.imgConecta img {
    display: flex;
    margin-left: 100px;
    width: 400px;
    padding-left: 20px;
}

.sobreNosHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* Solução */

#solucao {
    padding: 40px 0;
    background: linear-gradient(90deg, #92e4c4, #ffffff);
}

.tituloSolucao {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSolucao h1 {
    font-size: 40px;
}

.descricaoSolucao {
    margin-top: 20px;
    font-size: 20px;
}

.descricaoSolucao p {
    width: 569px;
    text-align: justify;
}


.imgSolucao {
    width: 45%;
    display: flex;
    justify-content: center;
}

.imgSolucao img {
    display: flex;
    margin-left: 100px;
    width: 600px;
    border-top-left-radius: 24%;
}

.solucaoHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* Monitoramento */

#monitoramento {
    background: linear-gradient(90deg, #92e4c4, #ffffff);
    padding: 32px 0;
}

#monitoramento h1 {
    font-size: 40px;
    text-align: center;
}

#monitoramento .line {
    display: flex;
    justify-content: space-evenly;
}

.box-monitoramento {
    margin: 50px 0;
    padding: 24px;
    background-color: #ffffff;
    width: 280px;
    height: 420px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 1px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-monitoramento .img {
    height: 50%;
}

.box-monitoramento .texto {
    height: 40%;
}

.box-monitoramento img {
    width: 232px;
    height: 170px;
    border-top-right-radius: 24%;
}

#monitoramento .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#monitoramento .texto p {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
}

/* Equipe*/

.geral {
    width: 100%;
    height: 100%;
    align-items: center;
}

.tituloEquipe h1 {
    font-size: 40px;
}

.tituloEquipe p {
    font-size: 24px;
    margin-top: 8px;
}

.sombra-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0000006c;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sombra-foto.active {
    opacity: 1;
}

.sombra-foto a {
    transition: all .3s ease-in-out;
}

.sombra-foto a:hover {
    transform: scale(1.1);
}

.sombra-foto a img {
    margin: 0 8px;
}

.sombra-foto img {
    width: 40px;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}

.line_1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.line_2 {
    display: flex;
    justify-content: space-evenly;
}

.line_2 .equipeFotos:nth-child(1) {
    margin-left: 8%;
}

.line_2 .equipeFotos:nth-child(2) {
    margin-right: 8%;
}

.box .line_2 img {
    margin: 20px;
}

#equipe {
    background: linear-gradient(90deg, #92e4c4, #ffffff);
    padding: 40px 0;
}

.equipeFotos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;
}

.equipeFotos .funcao {
    font-weight: 200 !important;
    font-style: normal !important;
    margin-top: 4px !important;
}

#equipe span {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #333;
}

.tituloEquipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
}

/* Contato*/

footer {
    background: linear-gradient(90deg, #000000, #737373);
    padding: 40px 0;
}

footer {
    color: #ffffff;
}

footer span {
    font-size: 16px;
    margin: 4px 0;
}

.footerContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
}

.footerContato h1 {
    color: #ffffff;
}

.footerContato img {
    width: 180px;
}

.footerContato a {
    font-size: 18px;
}

.footerHome {
    display: flex;
    justify-content: space-evenly;
}

.coluna1,
.coluna2,
.coluna3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}


.coluna1 h3,
.coluna2 h3,
.coluna3 h3 {
    margin-bottom: 12px;
}

.icones-social,
.descricao-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao-footer img {
    width: 18px;
    margin-right: 4px;
}

.icones-social a {
    margin: 0 8px;
    transition: all .3s ease-in-out;
}

.icones-social img {
    width: 36px;
}

.icones-social a:hover {
    transform: scale(1.1);
}


/* mobile (celulares) Samsumg Galaxy A51/71 */

@media screen and (min-width: 412px) and (max-width:914px) {

    html {
        background: linear-gradient(90deg, #92e4c4, #ffffff);
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    /* NAVBAR */

    nav {
        padding: 0 30px;
        padding-top: 4px;
    }

    .nav-item {
        margin: unset;
    }


    .acesso {
        display: none;
    }

    .acesso-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .acesso-mobile li:nth-child(1) {
        /* background-color: red; */
        margin-bottom: 7px;

    }

    .logo {
        margin-left: 24px;
    }

    .logo img {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .lines {
        width: 32px;
        height: 2px;
        background-color: #fff;
        margin: 8px;
        transition: 0.3s;
    }

    .mobile-menu.active .line-1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line-2 {
        opacity: 0;
    }

    .mobile-menu.active .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100vw;
        height: 30vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform .3s ease-in;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .navbar.active {
        transform: translateY(0);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .nav-item {
        margin-left: 0;
        opacity: 0;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px)
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


    /* ________________________________________________ */

    /* INICIO  */

    .imgServidores img {
        width: 350px;
    }

    .imgServidores {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin: 8px;
        margin-left: 30px;
    }

    .inicio {
        display: flex;
        flex-direction: column;
        height: 84%;
    }

    .tituloHome p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        word-wrap: break-word;
    }

    .tituloHome .descricao p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        width: 390px;
    }

    .descricao {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .down-arrow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        margin: 0 auto;
        width: 50px;
        animation: arrowTransition 2s ease-in-out infinite;
    }

    /* ________________________________________________ */

    /* PROJETO */

    #projeto {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .homeProjeto {
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column-reverse;
        margin-top: -222px;
    }

    .projetoHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }

    .imgProjeto img {
        width: 350px;
        margin-bottom: 60px;
    }

    .projetoHome h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

    .descricaoProjeto p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-align: justify;
        width: 360px;
    }

    /* ________________________________________________ */

    /* SOBRE NÓS */

    #sobreNos {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .tituloSobre h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

    .descricaoSobre p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        text-align: justify;
        width: 360px;
    }

    .imgConecta {
        display: none;
    }

    /* ________________________________________________ */

    /* SOLUÇÃO */

    #solucao {
        display: flex;
        flex-direction: column;
    }

    .solucaoHome {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        flex-direction: column-reverse;
        margin-top: -120px;
    }

    .tituloSolucao {
        margin-bottom: 2%;
    }

    .tituloSolucao h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

    .descricaoSolucao p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-align: justify;
        width: 360px;
    }

    .imgSolucao img {
        width: 350px;
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 50%;
        margin-top: 33px;
    }

    /* ________________________________________________ */

    /* MONITORAMENTO */

    #monitoramento .line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #monitoramento .box-monitoramento {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* ________________________________________________ */

    /* EQUIPE */

    #equipe .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tituloEquipe p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .line_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .line_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 7%;
    }

    #equipeFotos {
        margin-left: 13%;
    }

    /* ________________________________________________ */

    /* FOOTER */

    footer span {
        font-size: 14px;
        text-align: center;
    }

    .footerContato img {
        width: 150px;
    }

    .descricao-footer img {
        width: 30px;
    }

    .footerHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerHome h3 {
        font-size: 24px;
    }

    .coluna1,
    .coluna2,
    .coluna3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5vw;
    }

    .icones-social img {
        width: 30px;
        margin-bottom: 5vh;
    }

    /* ________________________________________________ */
}