@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url(../assets/img/fundoCadastrologin.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: #5ac69c;
}

a:hover {
    text-decoration: underline;
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideRight 1.4s ease;
}

.login .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.login .logo .img-logo {
    width: 320px;
    pointer-events: none;
}

.login .logo .div-slogan {
    text-align: center;
}

.login .logo .div-slogan .slogan {
    font-size: 28px;
    text-align: center
}

.login .logo .div-slogan .slogan-bold {
    color: #5ac69c;
    font-weight: bold
}

.texto-conta {
    margin-top: 50px;
}


.login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    height: 90%
}

.login .form .form-box {
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 480px;
}

.login .form .form-box h1 {
    font-size: 50px;
}

.login .form .form-box p {
    font-size: 18px;
}

.login .form .form-box .box-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login .form .form-box .box-input div label {
    font-size: 19px;
    align-self: flex-start;
    margin: 8px 12px;
}

.login .form .form-box .box-input div input {
    font-size: 15px;
    border-radius: 10px;
    border: none;
    border-left: 7px solid #5ac69c;
    padding: 16px 10px 16px 10px;
    width: 320px;
    transition: all .3s ease-in-out;
}

.login .form .form-box .box-input input.error {
    border-left: 7px solid #e53c3c;
}

.login .form .form-box .box-input input.error:focus {
    border-left: 10px solid #e53c3c !important;
}

#inputSenha {
    padding: 16px 46px 16px 10px;
}

input:focus {
    outline: none;
    border-left: 10px solid #5ac69c !important;
}

.eye-icon {
    width: 24px;
    position: absolute;
    top: 51px;
    right: 14px;
    cursor: pointer;
}

.login .form .form-box .button-entrar {
    border: 1px solid #5ac69c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 320px;
    padding: 16px 32px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.login .form .form-box .button-entrar:hover {
    background-color: #5ac69c;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    padding: 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.home-button img {
    width: 100%;
}

.home-button:hover {
    background-color: #5ac69c;
    border: 2px solid transparent;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}